body {
    background-color: ivory;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#board {
    width: 85vw;
    height: 75vh;
    margin: auto;
    margin-top: 5%;
    margin-left: 7%;
    position: absolute;
    border: 5px solid forestgreen;
}

#player {
    background-color: royalblue;
    position: absolute;
}

.sprite {
    position: absolute;
}

.raindrop {
    background-color: aqua;
}

.cookie {
    background-color: tan;
}

.poop {
    background-color: black;
}

.hero {
    background-color: red;
}