.title-container {
    font-weight: 900;
    text-align: center;
    line-height: 0.1;
    padding: 1rem 0 2rem 0;
    font-family: var(--font-stack-0);
}

.title-container h1 {
    font-size: 3.5rem;
}

.title-container h2 {
    color: var(--bright-2);
}

.legend-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.legend-container {
    display: flex;
    align-items: center;
    }

.legend-image-container {
    background-color: var(--light-0);
    border: 5px solid var(--bright-1);
    border-radius: 20%;
    height: 50px;
    width: 50px;
    padding: 1rem;
    margin: 1rem;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.legend-image-l {
    height: 70px;
    width: auto;
}

.legend-image-s {
    height: 30px;
    width: auto;
}

.legend-text-container {
    max-width: 90%;
    height: auto;
    font-size: 1.5rem;
    font-family: var(--font-stack-1);
}

.legend-image-container:hover {
    background-color: var(--bright-0);
    border-color: var(--bright-2);
}

.legend-image-container:hover + .legend-text-container {
    font-size: 1.8rem;
    color: var(--bright-2);
}

/*
BELOW:
main game document (play.html)
*/

#scoreboard {
    position: fixed;
    top: 17%;
    left: 16%;
    font-family: var(--font-stack-0);
    font-size: 2rem;
    font-weight: 500;
    color: var(--dark-1);
    z-index: 1000;
}

#cookie-score {
    font-size: 2.1rem;
    padding-left: 0.5rem;
}

#board {
    background-image: url("../images/game-bg.png");
    height: 75%;
    width: 90%;
    position: relative;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;

    margin: 0 auto;
    border: 5px solid var(--bright-2);
    border-radius: 20px;
}

#player {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.sprite {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

#quit-button {
    position: relative;
    border-radius: 5px;
}
