body {
    background-color: antiquewhite;
    height: 90vh;
    width: 90vw;
    text-align: center;
}

/*
BELOW:
start game document (index.html)
*/
.play-legend {
    font-size: 25px;
    line-height: 2;
    margin: 20px;
    font-weight: bold;
    display: grid;
    align-items: center;
    display: flex;
    justify-content: center;
}

.play-legend span {
    color: brown;
}

#player-container {
    display: flex;
    flex-direction: column;
}

#image-billy {
    width: 50px;
    width: 70px;
    margin-right: 25px;
    padding: 15px;
}

#image-cookie {
    width: 50px;
    width: 50px;
    margin-right: 25px;
    padding: 15px;
}

#image-raindrop {
    width: 35px;
    height: 50px;
    margin-right: 25px;
    padding: 15px;
}

#image-poop {
    width: 60px;
    height: 70px;
    margin-right: 25px;
    padding: 15px;
}

#image-hero {
    width: 80px;
    height: 80px;
    margin-right: 25px;
    padding: 15px;
}

/*
BELOW:
main game document (play.html)
*/
#title-one {
    text-align: center;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

#title-two {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}

#scoreboard {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-top: 10px;
}

#cookie-score {
    font-size: 30px;
}

#board {
    background-image: url("../images/game.background.png");
    height: 65vh;
    width: 75vw;
    position: absolute;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 30px;
    margin-left: 7%;
    padding-top: 50px;
    border: 5px solid brown;
    border-radius: 55px;
	padding-top: 50px;
}

#player {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.sprite {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

#quit-button {
    position: relative;
    border-radius: 5px;
}

/*
BELOW:
game over document (gameover.html)
*/
#bookend {
    display: grid;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#bookend-one {
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150px;
}

#bookend-two {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 38px;
}




#start-game {
    display: block;
    max-width: 600px;
    margin: auto;
    
}

#play-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    margin: auto;
    border-radius: 15px;
    left: 45%;
}